.flexcolumn {
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.banner-icon {
  height: 36px;
  width: 36px;
  display: block;
  margin: 7px;
}

body {
  height: 100vh;
  font: 14px/22px 'Quattrocento Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #2b2b2b;
  font-weight: 300;
  margin: 0px;
  padding: 0px;
  background: url(../images/body-background.png) #eae6d1;
  display: flex;
  flex-direction: column;
}

header {
  padding: 25px 20px 40px 20px;
  text-align: center;
  background: url(../images/background.png) #4276b6;
  box-shadow: 1px 0px 2px rgba(0, 0, 0, .75);
  z-index: 99;
  -webkit-font-smoothing: antialiased;
  min-height: 76px;

  h1 {
    font: 40px/48px 'Copse', "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #f3f3f3;
    text-shadow: 0px 2px 0px #235796;
    margin: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
  }

  p {
    color: #d8d8d8;
    text-shadow: rgba(#000, 0.2) 0 1px 0;
    font-size: 18px;
    margin: 0px;
  }
}

#banner {
  z-index: 100;
  position: fixed;
  top: 115px;
  background: #ffcc00;
  border: 1px solid #f0b500;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, .25);
  border-radius: 0px 2px 2px 0px;
  padding-right: 50px;

  #logo {
    position: absolute;
    right: 0px;
    top: 0px;
    background: url(../images/octocat-logo.svg);
  }

  #menu-toggle,
  #menu-icon {
    display: none;
  }
}

section {
  overflow-y: auto;
  //overflow-y: clip;
  height: 100%;
  position: relative;
  padding: 30px 30px 50px 30px;
  margin: 0px 20px 20px 20px;
  bottom: 0;
  background: #fbfbfb;
  border-radius: 3px;
  border: 1px solid #cbcbcb;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, .09), inset 0px 0px 2px 2px rgba(255, 255, 255, .5), inset 0 0 5px 5px rgba(255, 255, 255, .4);
  flex-grow: 1;
}

footer {
  text-align: right;
  line-height: 16px;
  margin-top: 10px;
  //padding-right: 15px;
}

#sidemenu {
  //overflow-y: auto;
  overflow-y: clip;
  width: 230px;
  text-align: right;
  min-height: 0;
  margin-bottom: 10px;

  ul {
    list-style: none;
    list-style-image: none;
    font-size: 14px;
    line-height: 24px;
    //padding-right: 15px;
    li {
      padding: 5px 0px;
      line-height: 16px;
      // padding-right:17px;
      // position:relative;
      // right:-12px;

      &.tag-h1 {
        font-size: 1.2em;

        a {
          font-weight: bold;
          color: #333;
        }

        +.tag-h2 {}
      }

      &.tag-h2 {

        +.tag-h1 {
          margin-top: 10px;
        }
      }
    }

    a {
      color: #666;

      &:hover {
        color: #999;
      }
    }

    // .active {
    //   border-right:solid 4px #39C;
    //   padding-right:13px;
    // }
  }
}

#wrapper {
  height: 100%;
  padding-top: 40px;
  display: flex;
  min-height: 0;
}